<header class="bg-gray-800 text-white p-4 shadow-md flex justify-between items-center w-full fixed top-0 left-0 z-10">
    <div class="text-xl font-bold">DevNet Tu Red Social</div>
    <div class="relative">
      <button (click)="toggleDropdown()" class="flex items-center focus:outline-none">
        <span class="mr-2">{{ username }}</span>
        <svg class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </button>
      <!-- <div *ngIf="dropdownVisible" class="absolute right-0 mt-2 w-48 bg-white text-gray-800 rounded-md shadow-lg z-20">
        <a href="#" class="block px-4 py-2 hover:bg-gray-200">Mi Perfil</a>
        <a href="#" class="block px-4 py-2 hover:bg-gray-200">Configuraciones</a>
        <a (click)="logout()" class="block px-4 py-2 hover:bg-gray-200 cursor-pointer">Cerrar sesión</a>
      </div> -->
    </div>
  </header>
  
  
  
  
