@media (min-width: 1024px)
{
    .profile{
        width: 60%;
        overflow: auto;
        overflow-wrap: break-word;
    }
}

@media (max-width: 1024px)
{
    .contentProfile{
        padding-top: 3rem;
    }
}