<app-sidebar 
  (sidebarStateChange)="onSidebarStateChange($event)">
</app-sidebar>

<div class="home-container" [ngClass]="{ 'sidebar-collapsed': sidebarCollapsed,  'sidebar-expanded': !sidebarCollapsed }">
    <div class="create-post-container">
      <h2>Crear un Nuevo Post</h2>
      <ckeditor *ngIf="Editor" [editor]="Editor" [(ngModel)]="postContent" [config]="{placeholder: 'Escribe tu post aquí...'}">
      </ckeditor>
      <button id="submit-post-btn" (click)="submitPost()" class="btn-publish" [disabled]="!postContent || postContent.trim() === ''">
        Publicar
      </button>
      </div>
</div>