<div>
  <aside 
    [ngClass]="{
      'collapsed': isCollapsed,
      'fixed': true, 
      'top-0': true, 
      'left-0': true, 
      'h-screen': true, 
      'transition-all': true, 
      'duration-300': true, 
      'z-40': true, 
      'bg-gray-50': true, 
      'dark:bg-gray-800': true
    }"
    aria-label="Sidebar">

    <div class="h-full px-3 py-4 overflow-y-auto">
      <!-- Logo and Collapse Button -->
      <button 
        (click)="toggleSidebar()" 
        class="flex items-center justify-center space-x-3 p-3 bg-gray-900 rounded-lg shadow-md hover:shadow-lg transition-all duration-300 ease-in-out transform hover:scale-105 mb-4 w-full">
        <img 
          src="assets/White(3).png" 
          class="rounded-full border-2 border-white opacity-90 hover:opacity-100 transition-opacity duration-200 object-cover w-10 h-10" 
          alt="Logo" 
        />
        <span 
          *ngIf="!isCollapsed" 
          class="self-center text-2xl font-semibold text-white whitespace-nowrap hover:text-gray-200 transition-colors duration-200">
          DevNet
        </span>
      </button>

      <!-- User Info Section -->
      <div 
        *ngIf="!isCollapsed" 
        class="flex items-center mb-5 space-x-4">
        <div class="w-10 h-10 rounded-full bg-violet-500 flex items-center justify-center text-white font-bold">
          {{ getUserInitials() }}
        </div>
        <div class="text-sm font-medium text-gray-900 dark:text-white">
          <p>{{ userSession?.username }}</p>
          <p class="text-xs text-gray-500 dark:text-gray-400">{{ userSession?.role }}</p>
        </div>
      </div>

      <!-- Sidebar Menu Items -->
      <ul class="space-y-2 font-medium">
        <!-- Home -->
        <li>
          <a 
          href="javascript:void(0);" (click)="home()"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <svg 
              class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
              fill="#434343">
              <path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z" />
            </svg>
            <span *ngIf="!isCollapsed" class="ms-3">Home</span>
          </a>
        </li>

        <!-- Search -->
        <li>
          <a href="#" 
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
              fill="#434343">
              <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
            </svg>
            <span *ngIf="!isCollapsed" class="ms-3">Search</span>
          </a>
        </li>

        <!-- Messages -->
        <li>
          <a href="javascript:void(0);" (click)="messages()"
             routerLinkActive="active"
             class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
              fill="#434343">
              <path d="M880-80 720-240H320q-33 0-56.5-23.5T240-320v-40h440q33 0 56.5-23.5T760-440v-280h40q33 0 56.5 23.5T880-640v560ZM160-473l47-47h393v-280H160v327ZM80-280v-520q0-33 23.5-56.5T160-880h440q33 0 56.5 23.5T680-800v280q0 33-23.5 56.5T600-440H240L80-280Zm80-240v-280 280Z" />
            </svg>
            <span *ngIf="!isCollapsed" class="ms-3">Messages</span>
            <span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>
          </a>
          <ul id="dropdown-example" class="py-2 space-y-2" *ngIf="currentUrl === '/pages/messages' && !isCollapsed">
            <li *ngFor="let user of connectedUsers()" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
              <button (click)="receiverUser(user)" *ngIf="user !== senderEmail()">{{ user }}</button>
            </li>
          </ul>
        </li>

        <!-- Profile -->
        <li>
          <a href="javascript:void(0);" (click)="profile()"
             routerLinkActive="active" 
             class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
              fill="#434343">
              <path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
            </svg>
            <span *ngIf="!isCollapsed" class="ms-3">Profile</span>
          </a>
        </li>

        <!-- Log Out -->
        <li>
          <a href="#" (click)="logOut()" 
             class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H1a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h3"></path>
              </svg>
              <span *ngIf="!isCollapsed" class="ms-3">Log Out</span>
          </a>

      </li>
        
        
        
        
      </ul>
    </div>
  </aside>

    <!-- Contenido principal -->
  <div [ngClass]="{
    'main-content': true, 
    'ml-64': !isCollapsed, 
    'ml-20': isCollapsed, 
  }">
  <!-- El contenido de la página -->
  </div>

</div>
