/* Estilos para el contenedor principal (home) */
.home-container {
  background-color: lightblue; 
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

/* Cuando el sidebar está contraído */
 .sidebar-collapsed {
  margin-left: 80px; 
  width: calc(100% - 60px); 
} 

/* Cuando el sidebar está extendido */
.sidebar-expanded {
  margin-left: 250px; 
  width: calc(100% - 250px); 
} 

/* Estilos para el sidebar */
app-sidebar {
  color: white;
 
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 250px; 
}

/* Sidebar contraído */
app-sidebar.collapsed {
  width: 80px;
}



