<li class="border-b border-black">
    <div class="flex flex-shrink-0 p-4 pb-0">
        <a href="" class="flex-shrink-0 group block">
            <div class="flex items-center">
                <!-- Foto del usuario -->
                <div>
                    <img class="inline-block h-10 w-10 rounded-full"
                        src="https://pbs.twimg.com/profile_images/1121328878142853120/e-rpjoJi_bigger.png" alt="" />
                </div>
                <!-- usuario y fecha -->
                <div class="ml-3">
                    <p class="text-base leading-6 font-medium ">
                        Sonali Hirave
                        <span
                            class="text-sm leading-5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150">
                            hola . 16 April
                        </span>
                    </p>
                </div>
            </div>
        </a>
    </div>

    <!-- contenido -->
    <div class="pl-16">
        <p class="text-base width-auto font-medium  flex-shrink">
            Day 07 of the challenge
            <a href="#" class="text-blue-400">#100DaysOfCode</a> I was
            wondering what I can do with
            <a href="#" class="text-blue-400">#tailwindcss</a>, so just
            started building Twitter UI using Tailwind and so far it looks
            so promising. I will post my code after completion. [07/100]
            <a href="#" class="text-blue-400">
                #WomenWhoCode #CodeNewbie</a>
        </p>
        <!-- Contenido multimedia -->
        <div class="md:flex-shrink pr-6 pt-3">
            <div class="bg-cover bg-no-repeat bg-center rounded-lg w-full h-64" style="
                                  height: 200px;
                                  background-image: url(https://images.unsplash.com/photo-1556740738-b6a63e27c4df?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=448&amp;q=80);
                                ">
                <img class="opacity-0 w-full h-full"
                    src="https://images.unsplash.com/photo-1556740738-b6a63e27c4df?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=448&amp;q=80"
                    alt="" />
            </div>
        </div>

        <!-- Buttons -->
        <div class="flex items-center py-4">
            <!-- like -->
            <div class="flex flex-1 items-center text-xs">
                <app-button-like></app-button-like>
                <p>10.k</p>
            </div>
            <!-- coment -->
            <div
                class="flex-1 flex items-center  text-xs text-gray-400 hover:text-blue-400 transition duration-350 ease-in-out">
                <app-button-comment></app-button-comment>
                12.3 k
            </div>
            <!-- send -->
            <div
                class="flex-1 flex items-center  text-xs text-gray-400 hover:text-blue-400 transition duration-350 ease-in-out">
                <svg viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mr-2">
                    <g>
                        <path
                            d="M17.53 7.47l-5-5c-.293-.293-.768-.293-1.06 0l-5 5c-.294.293-.294.768 0 1.06s.767.294 1.06 0l3.72-3.72V15c0 .414.336.75.75.75s.75-.336.75-.75V4.81l3.72 3.72c.146.147.338.22.53.22s.384-.072.53-.22c.293-.293.293-.767 0-1.06z">
                        </path>
                        <path
                            d="M19.708 21.944H4.292C3.028 21.944 2 20.916 2 19.652V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 .437.355.792.792.792h15.416c.437 0 .792-.355.792-.792V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 1.264-1.028 2.292-2.292 2.292z">
                        </path>
                    </g>
                </svg>
            </div>
            <!-- save -->
            <div class="flex flex-1 items-center text-xs">
                <app-button-save></app-button-save>
            </div>
        </div>
    </div>
</li>